.card {
    display: flex;
    gap: 30px;
}

.cardInfo{
    width: 700px;
}

.back{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.cardContainer{
    margin-top: 20px;
}

.buttContainer{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.castReview {
    color: blue;
}